// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~bootstrap';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url(//db.onlinewebfonts.com/c/d5cc3f06dce4a2ff8e61494ba870b5d3?family=Bad+Script);

.followers{
    color:#fff;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
.Profil{
    font-family: "Vibur", sans-serif;
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
}

.Profil1{
    font-family: "Vibur", sans-serif;
    position: relative;
    width: 100%;
}
.form-control{
    color: rgb(0, 0, 0);
    background-color: rgb(221, 221, 221);
}
.card{
    background-color: rgba(243, 243, 243, 0.911);
    color: rgb(0, 0, 0);
}
.form-control:focus{
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
}
.aclass{
    text-decoration: none;
    color:#fff;
    font-size: 15px;
}
.aclass2{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.nickname{
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    color:rgb(0, 0, 0);

}
.follow-button{
    position: relative;
    float: bottom;
    margin: 10px;
}
.profilecard{
    height: 450px;
}   
.bgimage{
    max-width: 100%;
}
.btn{
    position: relative;
    float: right;
    color: rgb(0, 0, 0);
    background-color: rgba(233, 233, 233, 0.541);
    text-align: center;
    font-size: 15px;
}

.btn1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
}
.description{
    font-size: 20px
}
.text{
    font-size: 16px;
}
.profile_block{
    margin: 50px;
    padding: 15px;
    border-radius: 15px;
}
@media only screen and (max-width: 600px){
    .Profil{
        padding-top: 0px;
    }
    .nickname{
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color:rgb(0, 0, 0);
    }
    
    .description{
        font-size: 13px
    }
    .greatimage{
        width: 110px;
        margin: 15px;
    }
    .btn{
        position: relative;
        font-size: 10px;
        padding: 3px;
        float: left;
    }
    .follow-button{
        position: relative;
        float: right;
        margin-top: 1px;
        font-size: 10px;
    }
    .profilecard{
        height: 280px;
    }
    .followers{
        color:rgb(0, 0, 0);
        font-size: 11px;
        text-decoration: none;
    }
    .text{
        font-size: 10px;
    }
    
    .aclass2{
        text-decoration: none;
        color:#fff;
        font-size: 11px;
    }
    .aclass{
        text-decoration: none;
        color:rgb(0, 0, 0);
        font-size: 10px;
    }
    .profile_block{
        margin: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    
    
}
